div, th, td {
	border: solid black 1px;
	text-align: center;
}

#memory, #compiler {
	display: inline-block;
}

.mem {
	height: 60px;
	width: 60px;
	text-align: center;
	border: solid black 1px;
	font-size: 30px;
}

.b0 {
	background-color: black;
	color: white;
}

.b1 {
	background-color: white;
	color: black;
}

.b0.active {
	background-color: darkblue;
	color: white;
}

.b1.active {
	background-color: cyan;
	color: black;
}

input {
	width: 30px;
}

#clock {
	/*height: 76px;*/
}

div {
	vertical-align: top;
}

#step {
	height: 60px;
	width: 70px;
}
#clock {
	padding: 8px;
}
